@font-face {
    font-family: 'IRANSansWeb';
    src: url('IRANSansWeb.eot');
    src: local('IRANSansWeb'),
        url('IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('IRANSansWeb.woff2') format('woff2'),
        url('IRANSansWeb.woff') format('woff'),
        url('IRANSansWeb.ttf') format('truetype'),
        url('IRANSansWeb.svg#IRANSansWeb') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

